<div>
    <h2 class="card-header">Add a new blog</h2>

    <form class="card-body" id="newblog-form">
        <div class="mb-6">
            <label class="form-label">Title:</label>
            <input type="text" class="form-input" name="blog-title"/>
        </div>

        <div class="mb-6">
            <label class="form-label">Content:</label>
            <textarea name="blog-content" class="form-textarea form-input"></textarea>
        </div>

        <div class="mb-6">
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </form>
</div>
<script src="/js/newblog.js"></script>