<div class="card">
    <h2>Enter username and password</h2>
    <form id="signup-form">
        <div class="mb-6">
            <label for="username" class="form-label">Username</label>
            <input type="username" class="form-control" id="username-signup" placeholder="Enter Username">
        </div>

        <div class="mb-6">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password-signup">
            <div id="Help" class="form-text">Must be 8 digits long</div>
        </div>

        <div class="mb-6">
            <a href="/login">Already have an account? Login here</a>
        </div>

        <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
</div>
<script src="js/signup.js" type="text/javascipt"></script>